
aside{
    height: 200px;
}

article {
    height: 100px;
}
.footer-height {
    background-color: rgba(170, 78, 170, 0.63);
    height: 100px;
}

@media only screen and (min-width: 768px) {
    aside {
        height: 450px;
    }
  }